<nav class="navbar">
    <div class="container">
        <div class="navbar-header header-logo" style="width: 20%;">
<!--        <a href="javascript:void(0);" class="theme-switch"><i class="iconfont icon-xihuan"></i></a>&nbsp;
            <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>-->
            <a href="{{ if .Site.Params.Logo.LogoHomeLink }}{{ .Site.Params.Logo.LogoHomeLink }}{{else}}{{ .Site.BaseURL }}{{ end }}" style="text-decoration: none;">
                <div class="logo">
                    {{ if .Site.Params.Logo.path }}
                    <img src="{{ .Site.Params.Logo.path }}" alt="{{ .Site.Params.Logo.alt }}" />
                    {{ else }}
                    <span class="logo__mark">></span>
                    <span class="logo__text">{{ with .Site.Params.Logo.logoText }}{{ . }}{{ else }}$ cd /home/{{ end }}</span>
                    <span class="logo__cursor"></span>
                    {{ end }}
                </div>
            </a>
        </div>
        <!-- search box -->
        <div id="searchBox">
            <input type="text" id="searchBoxInput" placeholder="Search..." />
            <img id="searchBoxIcon" src="{{ .Site.BaseURL }}/img/search.png" />
        </div>
        <!-- search results -->
        <div id="searchResults"></div>
        <div class="menu navbar-right">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <a class="menu-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                {{ end }}
        </div>
        &nbsp;|&nbsp;
        <div style="padding: 2px;width: 25px;">
            <a href="javascript:void(0);" class="theme-switch"><i class="far fa-moon"></i></a>&nbsp;
        </div>

    </div>
</nav>
<nav class="navbar-mobile" id="nav-mobile" style="display: none">
     <div class="container">
        <div class="navbar-header">
<!--
            <div>  <a href="javascript:void(0);" class="theme-switch"><i class="iconfont icon-xihuan"></i></a>&nbsp;<a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a></div>
            -->
            <div class="navbar-header header-logo">
                <a href="{{ if .Site.Params.Logo.LogoHomeLink }}{{ .Site.Params.Logo.LogoHomeLink }}{{else}}{{ .Site.BaseURL }}{{ end }}" style="text-decoration: none;">
                    <div class="logo">
                        {{ if .Site.Params.Logo.path }}
                        <img src="{{ .Site.Params.Logo.path }}" alt="{{ .Site.Params.Logo.alt }}" />
                        {{ else }}
                        <span class="logo__mark">></span>
                        <span class="logo__text">{{ with .Site.Params.Logo.logoText }}{{ . }}{{ else }}$ cd /home/{{ end }}</span>
                        <span class="logo__cursor"></span>
                        {{ end }}
                    </div>
                </a>
            </div>
            <div class="menu-toggle">
                <span></span><span></span><span></span>
            </div>
        </div>
     
          <div class="menu" id="mobile-menu">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <a class="menu-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                {{ end }}
        </div>
    </div>
</nav>