{{ with .Site.Params.Social.Github }}
<a href="https://github.com/{{.}}" target="_blank" rel="me noopener"><i class="fab fa-github"></i></a>
{{ end }}
{{ with .Site.Params.Social.Instagram }}
<a href="https://www.instagram.com/{{.}}/" target="_blank" rel="me noopener"><i class="fab fa-instagram"></i></a>
{{ end }}
{{ with .Site.Params.Social.Weibo}}
<a href="https://weibo.com/{{.}}" rel="me noopener"><i class="fab fa-weibo"></i></a>
{{ end }}
{{ with .Site.Params.Social.Twitter }}
<a href="https://twitter.com/{{.}}" target="_blank" rel="me noopener"><i class="fab fa-twitter"></i></a>
{{ end }}
{{ with .Site.Params.Social.LinkedIn }}
<a href="https://linkedin.com/in/{{.}}" target="_blank" rel="me noopener"><i class="fab fa-linkedin-in"></i></a>
{{ end }}
{{ with .Site.Params.Social.Wechat}}
<a href="javascript:void(0);" target="_blank" rel="me noopener" onclick="document.getElementById('lightbox').style.display='inline';"><i class="fab fa-weixin"></i></a>
{{end}}
{{ with .Site.Params.Social.Facebook}}
<a href="https://facebook.com/{{.}}" rel="me noopener"><i class="fab fa-facebook"></i></a>
{{ end }}
{{ with .Site.Params.Social.Telegram}}
<a href="https://t.me/{{.}}" rel="me noopener"><i class="fab fa-telegram"></i></a>
{{ end }}
{{ with .Site.Params.Social.Dribbble}}
<a href="https://dribbble.com/{{.}}" rel="me noopener"><i class="fab fa-dribbble"></i></a>
{{ end }}
{{ with .Site.Params.Social.Medium}}
<a href="https://medium.com/{{.}}" rel="me noopener"><i class="fab fa-medium"></i></a>
{{ end }}
{{ with .Site.Params.Social.Email}}
<a href="mailto:{{.}}" rel="me noopener"><i class="far fa-envelope"></i></a>
{{ end }}